<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					基金代码<input type="text" id="fundCode" class="layui-input searchVal" placeholder="请输入基金代码" />
				</div>
				<div class="layui-input-inline">
					基金名称<input type="text" id="fundName" class="layui-input searchVal" placeholder="请输入基金名称" />
				</div>
				<div class="layui-input-inline">
					基金类型
					<select name="type" id="fundType" lay-verify="">
						<option value="">请选择基金类型</option>
						<option value="债券型">债券型</option>
						<option value="指数型">指数型</option>
						<option value="混合型">混合型</option>
						<option value="股票型">股票型</option>
						<option value="QDII">QDII</option>
					</select>
				</div>
				<div class="layui-input-inline">
					时间选择
					<select name="time" lay-verify="">
						<option value="">请选择时间</option>
						<option value="当日收益">当日收益</option>
						<option value="近一周收益">近一周收益</option>
						<option value="近一月收益">近一月收益</option>
						<option value="近半年收益">近半年收益</option>
						<option value="近一年收益">近一年收益</option>
					</select>
				</div>
				<div>
					<a class="layui-btn search_btn" data-type="reload">搜索</a>
				</div>

			</div>
		</form>
	</blockquote>
	<table id="newsList" lay-filter="newsList"></table>

	<!--操作-->
	<script type="text/html" id="newsListBar">
		<a class="layui-btn layui-btn-xs" lay-event="collect">收藏</a>
	</script>
</form>
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="newsList.js"></script>
</body>
</html>