<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.FundMealMapper">
    <insert id="insertFundMeal" parameterType="com.boot.entity.FundMeal">
        insert into fundmeal values (CONCAT(date_format(NOW(), '%Y%m%d%H%i%s'),REPLACE(UUID(),'-',"")),
        #{mealCode},#{riskRank},#{industry},#{fundConsist})
    </insert>
</mapper>