<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.FundInformationMapper">
    <insert id="insertFundInformation" parameterType="java.util.List">
        insert into fundinformation
        (id,fundcode,curNetWorth,todayProfit,weekProfit,
        monthProfit,threeMonthProfit,sixMonthProfit,yearProfit)
        values
        <foreach collection="list" item="item" separator=",">
            (CONCAT(date_format(NOW(), '%Y%m%d%H%i%s'),REPLACE(UUID(),'-',"")),
            #{item.fundCode},
            #{item.curNetWorth},
            #{item.todayProfit},
            #{item.weekProfit},
            #{item.monthProfit},
            #{item.threeMonthProfit},
            #{item.sixMonthProfit},
            #{item.yearProfit})
        </foreach>
    </insert>

    <select id="selectFundByCondition" parameterType="java.util.Map" resultType="com.boot.entity.FundResult">
        select a.fundCode,a.fundName,b.curNetWorth,b.todayProfit,b.weekProfit,b.monthProfit,
        b.sixMonthProfit,b.yearProfit from funddictionary a,fundinformation b
        <where>
            a.fundCode = b.fundCode
            <if test="fundCode != null">
                and a.fundCode like "${fundCode}%"
            </if>
            <if test="fundName != null">
                and a.fundName like "${fundName}%"
            </if>
            <if test="fundType != null">
                and a.fundType = #{fundType}
            </if>
        </where>
        order by #{timeSelect} desc
        limit #{pageNo},#{pageSize}
    </select>

    <select id="selectFundByConditionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from funddictionary a,fundinformation b
        <where>
            a.fundCode = b.fundCode
            <if test="fundCode != null">
                and a.fundCode like "${fundCode}%"
            </if>
            <if test="fundName != null">
                and a.fundName like "${fundName}%"
            </if>
            <if test="fundType != null">
                and a.fundType = #{fundType}
            </if>
        </where>
    </select>
</mapper>